.create-post-container {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 16px;
    flex: 0.5;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    text-align: center;
    margin-top: 40px;
  }
  
  .create-post-option {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .create-post-option img {
    height: 85px;
    width: 75px;
  }
  
  .create-post-option input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  .create-post-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .create-post-profile-photo {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    margin-right: 16px;
  }
  
  .create-post-profile-name {
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 8px;
    width: 65%;
    color: #808080; 
    justify-content: center; 
  }
  
  .create-post-form {
    display: flex;
    flex-direction: column;
  }
  
  .create-post-form textarea {
    border: none;
    border-radius: 8px;
    background-color: #f3f2ef;
    padding: 16px;
    margin-bottom: 16px;
    resize: none;
    font-size: 1.2rem;
    width: 100%;
    height: 400px;
    outline: none;
  }
  
  .create-post-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .create-post-options button {
    transform: scale(0.5);
    
    border: none;
    cursor: pointer;
    margin-right: 4px;
  }
  
  .create-post-submit-button {
    
    
    border-radius: 9999px;
    border: none;
    font-size: 2.2rem;
    cursor: pointer;
  }
  
  .create-post-options button {
    margin-right: -10px;
  }

  .create-post-submit-button {
    
    background-color: #0f4217;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 400%;
    color: #fff;
    border: none;
    outline: none;
    
  }
  
  .create-post-submit-button:hover {
    background-color: #127529;
  }
  

  
  
  
  .transparent-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
 
  
  
  .create-post-options button:last-child {
    margin-right: 0px;
  }
  .create-post-preview-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
