.feed {
    flex: 0.5;
    margin: 0 20px;
}

.feed-inputContainer {
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feed-input {
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;

}

.feed-input > form {
    display: flex;
    width: 100%;
}

.feed-input > form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}

.feed-inputOptions{
    display:flex;
    justify-content: space-evenly;
}


@media screen and (max-width: 750px) {
    .feed_inputOptions {
       
        font-size: 13px;
    }
  
  }