.feed {
    flex: 0.5;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    text-align: center;
    margin-top: 40px;
  }
  
  .feed-inputContainer {
    background-color: white;
    padding: 8px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  

  
  .feed-input {
    border: green;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 8px;
  }
  
  .feed-input > form {
    border: green;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 8px;
    width: 75%;
  }
  .feed-input form.create-post input {
    flex: 1;
    padding: 10px;
    border: green;
    outline: none;
    font-size: 16px;
    border-radius: 30px;
    background-color: transparent;
    width: 0.8;
  }
  
  .feed-input > button {
    transform: scale(0.8); 
    width: 20%;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 12px;
    padding: 2px;
  }
  
  .feed-input > form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-size: 14px;
    font-weight: 600;
    
  }
  
  .feedinputOption {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    border: green;
  }
  
  .feedinputOption > button {
    transform: scale(0.4);
    display: flex;
    justify-content: space-evenly;
    border: none;
    margin: 0 100px;
    background-color: transparent;
    padding: 2px 5px;
    
    
  }
  .feedinputOption > button:first-of-type {
    margin-right: 5px;
  }
  
  .feedinputOption > button:last-of-type {
    margin-left: 5px;
  }
  

  

  @media screen and (max-width: 750px) {
    .feedinputOption > button {
      font-size: 11px;
    }
  }
  