.w-100{
    margin: 12px 0;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
    border-color: #27746a; 
  }
  .w-100:hover {
    border: 1px solid #0e0e0e;}

.title-spacing {
    padding: 60px 50px 30px 50px;
    text-align: center;
}

.side-by-side-div{
    width: 100%;
    float: left;
    padding: 0%;
}

.side-by-side-div2{
    width: 557%;
    float: left;
    padding: 0px;
    margin: 11% 0px 0px 50px;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.row1{
    display: flex;
  align-items: flex-start;
  margin: 20px 0;
    
    
}

.img-constrained {
    max-width: 200px;
    max-height: 200px;
  }

/* border: 2px solid red; */
/* border: 2px solid blue; */

@media screen and (min-width: 820px) and (max-width: 1800px){
  .groupContainer{
    width: 50%;
  }
}
