.w-100{
  margin-top: 32px;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
  border-color: #27746a; 
}
.w-100:hover {
  border: 1px solid #0e0e0e;}

  

  .search-job{
    max-width: 55%;
  }
  
  .skill-button,
.skill-button:hover {
  color: #fff;
  background-color: #27746a;
  border-color: #27746a;
}
.skill-button:active,
.skill-button:focus {
  color: #fff;
  background-color: #27746a !important;
  border-color: #27746a !important;
  box-shadow: 0 0 0 0.2rem #27746a !important;
}

.sponsor{
  border-color: #27746a !important;
  border-width: 10px;
}
.sponsor-title{
  color: #27746a;
  margin-bottom: -20px;
}


@media screen and (max-width: 393px) {
  .apply-button{
    font-size: 15px;
    width: 100px;
    height: 70%;
  }
  .heart-button{
    width: 30px;
  }
  .card-company{
    margin-top: 7%;
  }
}
@media screen and (min-width: 394px) {
  .apply-button{
    font-size: 15px;
    width: 100%;
  }
  .heart-button{
    width: 3rem;
  }
  .container-apply{
    width: 50%;
  }
  .container-job{
    width: 50%
  }
}

@media screen and (min-width: 820px) {
 
  .container-apply{
    width: 90%;
  }
  .container-job{
    width: 60%
  }
}