.container {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(88, 88, 88);
  background-color: white;
  position: relative;
  border-radius: 20px;
  padding: 30px; /* decrease the padding */
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px; /* decrease the margin */
}

  
  .chat-list {
    flex: 0.5;
    /* add any other styles you need for the chat list */
    background-color: white;
    

  }
  
  .text {
    flex: 2;
    background-color: white;
    /* add any other styles you need for the messages */
    border: 1px solid rgb(2, 2, 2);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 210px ;
    margin: -25px;
    
  }


  .button{
    background-color: rgb(7, 80, 19); /* Green */
    position: absolute;
    bottom: 0;
  }
 

  .divider {
    border-left: 1px solid rgb(88, 88, 88);
    height: 100%;
    margin: 0 20px;
  }