.container {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    position: relative;

  }
  
  .chat-list {
    flex: 1;
    /* add any other styles you need for the chat list */
    border: 1px solid red;

  }
  
  .messages {
    flex: 2;
    /* add any other styles you need for the messages */
    border: 1px solid purple;

  }

  .button{
    background-color: black; /* Green */
    position: absolute;
    bottom: 0;
  }
  .text{
    position: absolute;
    bottom: 30px;
  }