a {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  color: #4f4f4f;
  padding: 10px;
}

a:link {
  text-decoration: none;
  padding-right: 30px;
}

nav {
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1346px) {
  nav {
    right: 0;
    width: 100vw;
  }
}

.logout_button {
  background-color: white;
  border: none;
  border-color: #888888;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  max-height: 60%;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  color: #4f4f4f;
}

.search_button {
  border: none;
}

.search_pic {
  width: 25px;
  height: 25px;
}

