.networkcard {
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.containRequest {
  display: flex;
}

.requests {
  margin-right: auto;
  padding-top: 1%;
}

.NetworkTitle {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #2B2B2B;

}

.event_title{
  color: #27746A;
}

.connectCard {
  outline-style: solid;
  outline-color: #c7c7c7;
  outline-width: 1px;
}

.connectButton {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40px;
  
}

.connectButton,
.connectButton:hover {
  background-color: white;
  color: #27746A;
  border-color: #27746A;
}
.connectButton:active,
.connectButton:focus {
  color: #fff;
  background-color: #27746A !important;
  border-color: #27746A !important;
  box-shadow: 0 0 0 0.2rem #27746A !important;
}

.create_Group_Button, .create_Group_Button:hover{
    color: #fff;
    background-color: #27746A;
    border-color: #27746A ;
   
}
.create_Group_Button:active,
.create_Group_Button:focus {
  color: #fff;
  background-color: #27746A !important;
  border-color: #27746A !important;
  box-shadow: 0 0 0 0.2rem #27746A !important;
}


h5.time{
    color: #27746A;
}
div.pair {
  float:left;
}
.type_event{
  color:#626262;
}