.user-profile {
    width: 80%;
    margin: 0 auto;
  }

  .profilecard{
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .contactcard{
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .card{
    background: #fff;
    padding: 3% 4% 3%;
    margin: 12px 0;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
  .card h2{
    color: #333;
    margin: 10px 0 20px;
    font-weight: 600px;
  }
  .card h5{
    color: #5B5B5B;
    margin: 10px 0 -10px;
    font-weight: 400px;
    margin-bottom: 0%;
  }

  .profile-desc-row{
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
  }

  .profile-desc-row img{
    width: 50px;
    margin-right: 25px;
    margin-top: 5px;
  }
  .profile-desc-row div{
    width: 100%;
    margin-bottom: -3%;
    margin-top: -3%;
  }
  .profile-desc-row h3{
    font-size: 16px;
    font-weight: 400;
    color: #272727;
    margin-bottom: 1px;
  }
  .profile-desc-row b{
    display: block;
    font-weight: 500;
    font-size: 15px;
  }

  .profile-desc-row p{
   color: #5B5B5B;
   font-size: 13px;
   margin-bottom: 1px;
   font-weight: 400;
  }
  .name {
    font-size: 2em;
    font-weight: bold;
  }
  .container{
    margin-left: 3%;
    margin-top: 3%;
  }
  .avatar{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .skills-btn{
    display: inline-block;
    margin: 10px 5px;
    padding:6px 18px;
    border: 1px solid #777;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;
    width: fit-content;
    transition-duration: 0.4s;
  }

  .skills-btn:hover{
background-color: #dadadaf5;
  }


  hr{
    margin-top: 2%;
  }
